<div  id="footerSection">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h5>CUENTA</h5>
				<a href="login.html">TU CUENTA</a>
			 </div>
			<div class="span3">
				<h5>INFORMACION</h5>
				<a href="contact.html">CONTACTO</a>  
				<a href="register.html">REGISTRO</a>  
			 </div>
			<div class="span3">
				<h5>OFERTAS</h5>
				<a href="#">NUEVOS PRODUCTOS</a> 
				<a href="#">MAS VENDIDOS</a>  
			 </div>
			<div id="socialMedia" class="span3 pull-right">
				<h5>REDES SOCIALES </h5>
				<a href="#"><img width="60" height="60" src="assets/themes/images/facebook.png" title="facebook" alt="facebook"/></a>
				<a href="#"><img width="60" height="60" src="assets/themes/images/twitter.png" title="twitter" alt="twitter"/></a>
				<a href="#"><img width="60" height="60" src="assets/themes/images/youtube.png" title="youtube" alt="youtube"/></a>
			 </div> 
		 </div>
	</div><!-- Container End -->
	</div>
